@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  width: 1512px;
  height: 1238px;
  top: 621px;
  left: -1026px;
  padding: 0px 0px 96px 0px;
  gap: 0px;
  opacity: 0px;
}

#sidebar {
  width: 250px;
  height: 982px;
  padding: var(--Spacing4) var(--Spacing5) var(--Spacing6) var(--Spacing5);
  gap: 0px;
  display: fixed;
  justify-content: space-between;
  opacity: 0px;
}

#top{
  /* Top */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

margin: 0 auto;
width: 202px;
height: 568px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}

#bottom{
  /* Bottom */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

margin: 0 auto;
width: 202px;
height: 68px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}
.logo{
  /* Logo */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 10px;
gap: 10px;

width: 202px;
height: 64px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}
.navigationMenu{
/* Navigation Menu */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 202px;
height: 200px;

border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}
.events{
/* Today's Events */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 202px;
height: 240px;

border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;

}

.tertiaryLinks{
  /* Tertiary Links */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 202px;
height: 68px;

border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}


.navigation-link{
  /* Navigation Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 16px;
gap: 16px;

width: 202px;
height: 40px;

border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;

}
.navigation-link :active{
  /* Navigation Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 16px;
gap: 16px;

width: 202px;
height: 40px;

background: rgba(0, 151, 0, 0.0862745);
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}